@media screen and (max-width: 640px) {
    body {
        background-image: url(wppmediaquery.png);
        background-size: cover;
        background-attachment: fixed;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;

    }

    main {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        margin-left: 0;
    }

    #as1 {
        text-align: center;
        font-family: 'Sitka subheading';
        font-size: 60px;
        text-align: center;
        transition: all 0.3s ease;
        text-shadow: 0 0 5px rgb(0, 0, 0);
        margin-top: 10px;
        margin-right: 50px;
        
    }

    #as2 {
        transition: all 0.3s ease;
        width: 300px;
        font-size: 22px;
        text-align: center;
        padding: 0;

        text-shadow: 0 0 5px rgb(0, 0, 0);
    }

    #buttonas {
        font-weight: bold;
        font-family: 'Sitka subheading';
        color: white;
        background-color: transparent;
        text-align: center;
        font-size: 1.5rem;
        width: 200px;
        height: 85px;
        margin-top: 40px;
        margin-left: 40%;
        border: 2px solid white;
        border-radius: 27px;
        box-shadow: 0 0 15px white;
        margin-left: 100px;


    }

    #buttonas:hover {

        transition: all 0.3s ease;
        justify-content: center;
        text-align: center;
        background-color: #ffd630;
        border: 2px solid black;
        box-shadow: 0 0 15px rgb(0, 0, 0);
        color: black;
    }

    header {
        color: white;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 0.5fr);
        padding-top: 36px;
    }
    hr {
        color: white;
        border: 2px 2px 2px 2px;
        grid-column: 2/10;
        grid-row: 1/3;
        align-self: center;
    }
    .mn1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 35px;
        grid-column: 2;
        grid-row: 1;
        text-shadow: 0 0 5px rgb(0, 0, 0);
    }
    .mn2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        grid-column: 2;
        grid-row: 2;
        margin: 1px;
        text-shadow: 0 0 5px rgb(0, 0, 0);

    }

    .mn3 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        grid-column: 3;
        grid-row: 2;
        margin: 1px;
        text-shadow: 0 0 5px rgb(0, 0, 0);
    }

    .mn4 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        grid-column: 4;
        grid-row: 2;
        margin: 1px;
        text-shadow: 0 0 5px rgb(0, 0, 0);
    }

    .mn5 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        grid-column: 5;
        grid-row: 2;
        margin: 1px;
        text-shadow: 0 0 5px rgb(0, 0, 0);
    }

    .mn6 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        grid-column: 6;
        grid-row: 2;
        margin: 1px;
        text-shadow: 0 0 5px rgb(0, 0, 0);
    }

    

}